<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="youp.seriestracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.DetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <service
            android:name=".notificationservice.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.ResultActivity"
            android:excludeFromRecents="true"
            android:label="notificatie"
            android:launchMode="singleTask"
            android:taskAffinity="" />
    </application>

</manifest>